.card {
  overflow: hidden;
  text-align: center;
  background-color: #e8e8e8;
  border: 1px solid #cdcdcd;
  border-radius: 15px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  h4 {
    padding: 8px 5px;
    margin: 0;
    font-weight: 900;
    font-kerning: normal;
    text-transform: uppercase;
    line-height: 1.1;
  }
}